body{
	color: #000000;
    display: flex;
    min-height: 100vh;
    flex-direction: column;
}

th{
	font-size: 1.2em;
}

footer{
	padding-bottom: 10px;
}

main {
	flex: 1 0 auto;
}

footer.page-footer{
	background-color: #ffffff;
}